<turbo-stream action="replace" target="inner-area">
  <template>
    <div>
      This is the inner area, for you to appreciate.
    </div>
  </template>
</turbo-stream>
<turbo-stream action="replace" target="breadcrumbs">
  <template>
    Here are updated breadcrumbs.
  </template>
</turbo-stream>
